@media only screen and (max-width: 1200px) {
    .two-section {
        grid-template-rows: auto auto;
        grid-template-columns: none;
    }
}

@media only screen and (max-width: 900px) {
    .four-section {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
    .four-section > div {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: none;
    }

    .perk {
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        display: block;
    }
    #sidebar {
        height: 0px;
        transition: height 0.5s;
        overflow: hidden;
    }
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }

    .hidden-small {
        display: none;
    }
    .visible-small {
        display: auto;
    }
}

@media only screen and (min-width: 601px) {
    .hidden-small {
        display: auto;
    }
    .visible-small {
        display: none;
    }
}
