<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>TJ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
  </head>
  <body>
    <div class="shadow" style="height:100vh;z-index:1;overflow-y:scroll;">
      <div style="padding:24px 0px;">
        <div class="profile"></div>
      </div>
      <div class="lined">
        <ol>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/js-mentoring">JS Mentoring</a>
          </li>
          <li>
            <a href="https://github.com/tjdavenport/">Github</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/tjdavenport/">LinkedIn</a>
          </li>
          <li>
            <a href="https://www.instagram.com/tjdavenport2/?hl=en">Instagram</a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCVElheX7KKedvQ2xcXwmlNA">Youtube</a>
          </li>
        </ul>
      </div>
    </div>
    <div id="content" style="">
      <%- content %>
    </div>
  </body>
</html>
